*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat";
}

#h-img {
    width: 100%;;
    background-size: cover;
}
.intro-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.intro-content {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-content img {
    width: 100%;
}
.intro-text {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}
.intro-appear {
    opacity: 1;
    transform: translateY(0);
}